  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="initial-scale=1, width=device-width" />
      <link rel="stylesheet" type="text/css" href="../static/css/global.css">
      <link rel="stylesheet" type="text/css" href="../static/css/Restaurant.css">
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap"
      />
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=SF Pro Text:wght@600&display=swap"
      />
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
      />
    </head>
    <body>
      <div class="restaurant">
        <div class="main-content2">
          <div class="view-button">
            <div class="view-more-button">
              <div class="view-more-button-child"></div>
              <div class="div29">查看更多......</div>
            </div>
          </div>
          <div class="comments">
            <div class="alyce-lambo-parent">
              <div class="alyce-lambo" id="alyce-lambo-text">
              </div>
              <div class="rectangle-parent6">
                <img
                  class="group-child6"
                  alt=""
                  src="static/public/rectangle-4109@2x.png"
                />

              </div>
              <div class="div31" id="div31">
                
              </div>
              <div class="div32" id="div32">25/06/2020</div>
              <img class="group-icon" alt="" src="static/public/group-17764.svg" />
            </div>
            <div class="gonela-solom-parent">
              <div class="gonela-solom">
                <p class="alyce-lambo1" id="gonela-solom-text">Gonela Solom</p>
              </div>
              <div class="rectangle-parent6">
                <img
                  class="group-child6"
                  alt=""
                  src="static/public/rectangle-41091@2x.png"
                />

              </div>
              <div class="div34" id="div34">
                
              </div>
              <div class="div32">22/06/2020</div>
              <img class="group-icon" alt="" src="static/public/group-17764.svg" />
            </div>
            <div class="brian-c-parent">
              <div class="brian-c">
                <p class="alyce-lambo1" id="brian-c-text">Brian C</p>
              </div>
              <div class="rectangle-parent8">
                <img
                  class="group-child9"
                  alt=""
                  src="static/public/rectangle-41092@2x.png"
                />

              </div>
              <div class="div37" id="div37">
                
              </div>
              <div class="div38">21/06/2020</div>
              <img class="group-child10" alt="" src="static/public/group-177641.svg" />
            </div>
          </div>
          <div class="write-button">
            <div class="view-more-button" >
              <div class="view-more-button-child" id="view-more-button-child"></div>
              <div class="div39">寫下留言</div>
            </div>
          </div>
          <div class="mark2">
            <div class="parent6">
              <div class="div40">美味程度</div>
              <div class="div41">4.5</div>
            </div>
            <div class="parent6">
              <div class="div40">服務品質</div>
              <div class="div41">4.7</div>
            </div>
            <div class="parent6">
              <div class="div40">等待時間</div>
              <div class="div41">3.8</div>
            </div>
          </div>
          <div class="overall-comment">
            <b class="b">整體評價</b>
          </div>
          <div class="extra-info">
            <div class="menu-parent">
              <div class="menu">
                <div class="menu-child"></div>
                <div class="div46">查看菜單</div>
                <img class="arrow-icon" alt="" src="static/public/arrow.svg" />
              </div>
              <img class="menu-img-icon" alt="" src="static/public/menu-img@2x.png" />
            </div>
            <div class="menu-parent">
              <div class="menu">
                <div class="menu-child"></div>
                <div class="div46">查看優惠</div>
                <img class="arrow-icon" alt="" src="static/public/arrow.svg" />
              </div>
              <img
                class="menu-img-icon"
                alt=""
                src="static/public/promotion-img@2x.png"
              />
            </div>
          </div>
          <div class="floating-window" id="floatingWindow"></div>
          <img src="static/public/closeImage.png" alt="Close" id="closeImage" class="close-image">

          <div class="phone">
            <img
              class="communication-call"
              alt=""
              src="static/public/communication--call.svg"
            />

            <a
              class="a"
              href="https://www.google.com/search?q=lazy+pasta+%E6%94%BF%E5%A4%A7&source=lmns&bih=722&biw=1536&hl=zh-TW&sa=X&ved=2ahUKEwjGx5WRl6T_AhU_pVYBHbXUBL0Q_AUoAHoECAEQAA#"
              target="_blank"
              >02-29375161</a
            >
          </div>
          <div class="location2">
            <img
              class="communication-call"
              alt=""
              src="static/public/location-and-map--location-pin.svg"
            />

            <div class="div48">台北市文山區指南路二段161號</div>
          </div>
          <div class="name2">
            <div class="div49">
              <span class="span">清心福全</span>
              <span class="span1"> </span>
            </div>
            <img class="name-child" alt="" src="static/public/group-180742.svg" />
          </div>
          <div class="resturant-img">
            <img class="icon" alt="" src="static/public/-1@2x.png" />
          </div>
        </div>
        <div class="previous3">
          <img
            class="previous-child1"
            alt=""
            src="static/public/group-17955.svg"
            id="group"
          />
        </div>
        <div class="status-bar4">
          <div class="rectangle-parent9">
            <div class="group-child11"></div>
            <div class="time8">
              <div class="time9">9:27</div>
            </div>
            <img class="ui-icon4" alt="" src="static/public/ui2.svg" />
          </div>
        </div>
      </div>
      <script>
        var group = document.getElementById("group");
        if (group) {
          group.addEventListener("click", function (e) {
            window.location.href = "/Category";
          });
        }
        var viewmorebutton = document.getElementById("view-more-button-child");
          if (viewmorebutton) {
            viewmorebutton.addEventListener("click", function (e) {
              window.location.href = "/Rating";
            });
          }
        </script>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          var floatingWindow = document.getElementById("floatingWindow");
          var menuElement = document.querySelector(".menu");
          var closeButton = document.getElementById("closeImage");

          closeImage.style.display = "none";

          if (menuElement) {
            menuElement.addEventListener("click", function (e) {
              e.preventDefault();
      
              var searchTerm = document.querySelector(".span").innerText;
      
              // Send an AJAX request to the server-side route
              var xhr = new XMLHttpRequest();
              xhr.open("POST", "/get_data");
              xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
              xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                  // Handle the response
                  var data = JSON.parse(xhr.responseText);
      
                  // Use the data to populate the content of the floating window
                  var content = "";
                  data.forEach(function (result) {
                    content += "<p>" + result + "</p>";
                  });
                  floatingWindow.innerHTML = content;
      
                  // Fade in the floating window
                  fadeIn(floatingWindow);
                  fadeIn(closeButton);
                }
              };
              xhr.send("search_term=" + searchTerm);
            });
          }

            if (closeButton) {
              closeButton.addEventListener("click", function (e) {
                // Prevent the default behavior of the button
                e.preventDefault();
                
                // Fade out the floating window
                fadeOut(floatingWindow);
              });
            }
        });
      
        // Function to fade in the floating window gradually
        function fadeIn(element) {
          var opacity = 0;

          element.style.opacity = opacity;
          element.style.visibility = "visible";

          var fadeInInterval = setInterval(function () {
            if (opacity < 1) {
              opacity += 0.1;
              element.style.opacity = opacity;
            } else {
              clearInterval(fadeInInterval);
            }
          }, 50);
        }

        function fadeOut(element) {
          var opacity = 1;
          closeImage.style.display = "none";
          element.style.opacity = opacity;

          var fadeOutInterval = setInterval(function () {
            if (opacity > 0) {
              opacity -= 0.1;
              element.style.opacity = opacity;
            } else {
              clearInterval(fadeOutInterval);
              element.style.visibility = "hidden";
            }
          }, 50);
        }
      </script>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          var div31 = document.getElementById("div31");
          var div32 = document.getElementById("div32");
          var first = document.getElementById("alyce-lambo-text");
          
          function loadDataIntoDiv(divId, index) {
            // Send an AJAX request to the server-side route
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/get_new_user_data");
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.onreadystatechange = function () {
              if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                // Handle the response
                var data = JSON.parse(xhr.responseText);
      
                // Use the data to populate the content of the div
                var content = "";
                if (index <= data.length) {
                  content = data[index] ;
                  console.log(data.length);
                }
                divId.innerHTML = content;
              }
            };
            xhr.send();
          }
  
          loadDataIntoDiv(first, 0);
          loadDataIntoDiv(div31, 1);
          loadDataIntoDiv(div32, 2);

        });
      </script>
      <script>
        document.addEventListener("DOMContentLoaded", function () {

          var div34 = document.getElementById("div34");
          var second = document.getElementById("gonela-solom-text");

          var div37 = document.getElementById("div37");
          var third = document.getElementById("brian-c-text");

      
          function loadDataIntoDiv(divId, searchTerm, index) {
            // Send an AJAX request to the server-side route
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/get_user_data");
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.onreadystatechange = function () {
              if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                // Handle the response
                var data = JSON.parse(xhr.responseText);
      
                // Use the data to populate the content of the div
                var content = "";
                if (index <= data.length) {
                  content = data[0][index] ;
                }
                divId.innerHTML = content;
              }
            };
            xhr.send("search_term=" + searchTerm);
          }
          
          loadDataIntoDiv(second, "Gonela Solom", 0);
          loadDataIntoDiv(div34, "Gonela Solom", 1);
      
          loadDataIntoDiv(third, "Brian C", 0);
          loadDataIntoDiv(div37, "Brian C", 1);
        });
      </script>
      <script>
        // JavaScript function to update the scores from the server
        function updateScores() {
          // Send a GET request to the server to fetch the updated scores
          var xhr = new XMLHttpRequest();
          xhr.open("GET", "/get_scores");
          xhr.setRequestHeader("Content-Type", "application/json");

          xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
              if (xhr.status === 200) {
                // Parse the response JSON
                var response = JSON.parse(xhr.responseText);

                // Update the score values in the HTML
                var scoreElements = document.querySelectorAll(".div41");
                scoreElements[0].textContent = response.score1.toFixed(1);
                scoreElements[1].textContent = response.score2.toFixed(1);
                scoreElements[2].textContent = response.score3.toFixed(1);
              } else {
                // Handle error
                console.error("Failed to fetch scores");
              }
            }
          };

          xhr.send();
        }

        // Call the updateScores function to update the scores when the page is loaded
        document.addEventListener("DOMContentLoaded", function() {
          updateScores();
        });


      </script>
    </body>
  </html>
